<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Normal.dotm</Template><TotalTime>3</TotalTime><Pages>2</Pages><Words>166</Words><Characters>949</Characters><Application>Microsoft Office Word</Application><DocSecurity>0</DocSecurity><Lines>7</Lines><Paragraphs>2</Paragraphs><ScaleCrop>false</ScaleCrop><Company>University of Wollongong</Company><LinksUpToDate>false</LinksUpToDate><CharactersWithSpaces>1113</CharactersWithSpaces><SharedDoc>false</SharedDoc><HyperlinksChanged>false</HyperlinksChanged><AppVersion>14.0000</AppVersion></Properties>